<!DOCTYPE html>


<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>حاسبة التمويل</title>
  {% load static %}


  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- theme meta -->
  <meta name="theme-name" content="dtox" />

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">



</head>

<body>
<!-- hero area -->
<section style="background-image: url({% static 'images/hero-area/ban.png' %}); background-repeat: no-repeat;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center zindex-1">
          <br><br>
        <h1 class="mb-3">حاسبة التمويل العقاري<br></h1>
            <div class="col-10 mx-auto">
      <div class="team-slider">
        <!-- team-member -->
        <div class="team-member">
          <h4>أدخل المعلومات المطلوبة</h4><br>
            <div class="form-group">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn btn-primary" type="submit" value="احسب">
                </form>
            </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>

<!-- feature -->
    {% if info %}
<section class="section feature" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">النتيجة</h2>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-plus feature-icon mr-4"></i>
          </div>
          <div>
            <h4>اجمالي الدعم المقدم من وزارة الإسكان</h4>
            <p><b>{{ support }}</b> </p>
              <p><small>في حال اختيار منتج الدفعة المقدمة*</small></p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-calendar feature-icon mr-4"></i>
          </div>
          <div>
            <h4>القسط الشهري</h4>
            <p><b>{{ monthlyPay|floatformat:0 }}</b></p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-home feature-icon mr-4"></i>
          </div>
          <div>
            <h4>اجمالي المبلغ الذي سيدفع للعقار</h4>
            <p><b>{{ estatePrice|floatformat:0 }}</b></p>
              <p><small>هي قيمة العقار مضاف لها الفائدة*</small></p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-money feature-icon mr-4"></i>
          </div>
          <div>
            <h4>اجمالي الفائدة</h4>
            <p><b>{{ intrstPrice|floatformat:0 }}</b></p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-pie-chart feature-icon mr-4"></i>
          </div>
          <div>
            <h4>نسبة الاستقطاع من مجموع الراتب</h4>
            <p><b>{{ diff|floatformat:2 }}%</b></p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-wallet feature-icon mr-4"></i>
          </div>
          <div>
            <h4>اجمالي المبلغ الذي سيدفع للبنك</h4>
            <p><b>{{ totalPrice|floatformat:0 }}</b></p>
              <p><small>المبلغ المطلوب من البنك مضاف له الفائدة*</small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
    {% else %}
    {% endif %}

</body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <!-- logo -->
        <p> admin@ratecalcsa.com : للإقتراحات</p>
      </div>
      <!-- footer menu -->
      <
      <!-- footer social icon -->
    </div>
  </div>
</footer>

</html>
